.overall {
  background-color: #191b1c;
}

.table {
  display: flex;
  border: 6px solid #606060;
  border-radius: 180px;
  background: #35654d;
  align-items: center;
  justify-content: center;
}

.board-cards {
  display: flex;
  width: 60%;
  height: 100%;
  align-items: center;
  border: none;
  justify-content: center;
}

.pot-display {
  position: absolute;
  display: block;
  width: 20%;
  height: 10%;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}
