.overall{
  background-color:#191b1c;
}

.table {
  border: 6px solid 	#606060;
  border-radius: 180px;
  background: #35654d;
}

.player {
	position: absolute;
	display: block;
	width: 145px;
	height: 160px;
	transform: translate(-50%, -50%);
}

.card {
	position: relative;
	height: 100px;
	width: 70px;
	border: 3px solid black;
}

.card-image{
  height: 100%;
}

.board-cards {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  border: none;
  justify-content: center;
}
