.overall{
  background-color:#191b1c;
}

.table {
  border: 6px solid 	#606060;
  border-radius: 180px;
  background: #35654d;
}

.player {
	position: absolute;
	display: block;
	width: 145px;
	height: 160px;
	transform: translate(-50%, -50%);
}

.card {
	width: 120px;
	height: calc(120px * 1.39);
	position: relative;
  border: 3px solid black;
  border-radius: 10px;
}

.card-image{
  height: 100%;
}

.board-cards {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  border: none;
  justify-content: center;
}

.pot-display {
  position: absolute;
	display: block;
  width: 20%;
  height: 10%;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}