html,body{
  height:100%;
  margin:0;
  padding:0;
}

.container-fluid,.row{
  height:100vh;
}

.board-container{
  padding:40px;
  box-sizing:border-box;
}

.board{
  height:100%;
  padding:40px;
  width:100%;
  display: flex;
  align-items: center;
}

.board-svg{
  height:50%;
  width:100%;
}

.board-rect{
  height:100%;
  padding:40px;
  width:100%;
}

/*
.main{
  height: 100vh
}

.board-r{
  height: 100vh
}

.board-c{
  height: 100vh
}

.board{
  height:100%;
  width:100%;
}

.board-svg{
  height:100%;
  width:100%;
}
*/






/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  text-align: center;
}
*/